*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-page {
    background-image: linear-gradient(to bottom, rgba(20, 20, 150, 0.2), rgba(20, 20, 150, 0.75));
    min-height: 100vh;
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0 0 15px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255,255,255,0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -25px;

    box-shadow: 0px 3px rgba(0,0,0,0.2);

    color: #313131;
    transition: .4s ease all;
}

.search-box .search-bar:focus, .search-bar:hover {
    background-color: rgba(255,255,255,0.75);
}
.location-box, .weather-box {
    cursor:default;
}
.location-box .location-city {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.location-box .location-date {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .weather-temp {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;

    padding: 15px 25px;

    color: #fff;
    font-size: 78px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-feel {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;

    text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box .weather {
    margin-top: 15px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box .weather-img {
    max-width: 120px;
}

.wind-box {
    color: #fff;
    font-size: 18px;
    font-weight: 300;

    text-shadow: 2px 2px rgba(50,50,70,0.5);
}
.wind-direction {
    font-size: 24px;
}